<div class="header-container">
  <div class="header-content">
    <div class="logo">
      <img src="assets/images/open-logo.png" alt="" />
    </div>
    <div class="nav-controls">
      <div class="nav-links">
        <div class="nav-link">
          <a href="">Products</a>
        </div>
        <div class="nav-link">
          <a href="">Solutions</a>
        </div>
        <div class="nav-link">
          <a href="">Pricing</a>
        </div>
      </div>
      <div class="nav-buttons">
        <button class="login">Login</button>
        <button class="get-started">Get Started</button>
      </div>
    </div>
  </div>
</div>
